.row{
  width:1458px;
  height: 100px;
  background-color: aliceblue
  
  
}
.col1{
  width: 121.5px;
  height: 100px;
  float: left;
}
.col2{
  width: 243px;
  height: 100px;
  float: left;
}
.col3{
  width: 364.5px;
  height: 100px;
  float: left;
}
.col4{
  width: 486px;
  height: 100px;
  float: left;
}
.col5{
  width: 607.5px;
  height: 100px;
  float: left;
}

.col6{
  width: 729px;
  height: 100px;
  float: left;
}
.col7{
  width: 850.5px;
  height: 100px;
  float: left;
}
.col8{
  width: 972px;
  height: 100px;
  float: left;
}
.col9{
  width: 1093.5px;
  height: 100px;
  float: left;
}
.col10{
  width: 1215px;
  height: 100px;
  float: left;
}
.col11{
  width: 1336.5px;
  height: 100px;
  float: left;
}
.col12{
  width: 1458px;
  height: 100px;
  float: left;
}
.clear{
  clear: both;
}
.red{
  background-color: red
}
.blue{
  background-color: blue;
}
.yellow{
  background-color: yellow;
}
.pink{
  background-color: pink;
}
.brown{
  background-color: brown;
}
.white{
  background-color: white
}



